///////////////////////////////////
// TITLE

.title {
    flex: 0 0 100%;
    color: var(--color-title);
    
    &__name {
        text-align: center;
        font-size: 4.5rem;
    }
}


///////////////////////////////////
// ADD

.add {
    flex: 0 0 80%;

    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        margin-right: -3.25rem;
        transition: all .1s linear;
        margin-top: -2.5rem;

        @include respond(phone) {
            width: 100%;
        }

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &:focus::placeholder {
            color: transparent;
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);
        margin-top: -2.5rem;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }


    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
        margin-top: 0.20rem;
    }
}

///////////////////////////////////
// MAIN

.task-list {
    flex: 0 0 50%;

    &__title {
        width: 80%;
        margin: 2rem auto;
        text-align: center;
        background-color: var(--color-title-main-1);
        border-radius: 100px;
        color: var(--color-grey-light-3);
    }

    &__title-name {
        font-size: 3rem;
    }

    &__span {

    }

    // container

    &__items {
        @include items;
        border: 3px solid var(--color-title-main-1);
    }

    //ul

    &__item-list {
        list-style: none;
    }

    // li
    
    &__single-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    }

    &__btn-complete {
        @include btn-list;
        padding-right: 1rem;
        color: green;

        &:focus {
            outline: none;
        }

        &:hover {
            cursor: pointer;
        }

        &:active {
            transform: translateY(1.5px);
        }
    }

    &__btn-delete {
        @include btn-list;
        left: 43.6%;
        color: red;

        &:focus {
            outline: none;
        }

        &:hover {
            cursor: pointer;
        }

        &:active {
            transform: translateY(1.5px);
        }
    }
   
}

.complete-task {
    flex: 0 0 50%;
    

    &__title {
        width: 80%;
        margin: 2rem auto;
        text-align: center;
        background-color: var(--color-title-main-2);
        border-radius: 100px;
        color: var(--color-grey-light-3);
    }

    &__title-name {
        font-size: 3rem;
    }

    &__span {

    }

    //container

    &__items {
        @include items;
        border: 3px solid var(--color-title-main-2);
    }

    // ul
    
    &__item-list {
        list-style: none;
    }

    // li

    &__single-item {
        
    }

    
}

///////////////////////////////////
// FOOTER

.copyright {
    font-size: 1.4rem;
    color: #aaa;
}